/* General Reset */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #333; /* رنگ پس‌زمینه تیره */
    color: #fff; /* رنگ متن سفید */
    padding: 10px 20px;
}
.navbar .navbar-brand, .navbar .nav-link {
    color: #fff; /* متن سفید */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar .nav-link:hover {
    color: #f0a500; /* تغییر رنگ هنگام هاور */
}
.navbar-toggler {
    border-color: #fff; /* دکمه ناوبری برای موبایل */
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Header */
header {
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Main Sections */
main {
    padding: 20px;
}

/* Cards */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-body {
    padding: 15px;
}

/* Buttons */
.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #f0a500;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
